@import url("audioplayer.css");

root {
  --color-primary: #333;
  --color-secondary: #f2f2f2;
  --color-accent: #7dbbf1;
  --color-accent2: #ffef63;
  --color-accent3: #ffbb33;
  --color-accent4: #f2f2f2;
  --color-accent5: #333;
  --color-accent6: #f2f2f2;
  --color-accent7: #f2f2f2;
}
html {
  background-color: #ffc8a2ff;
  scroll-behavior: smooth;
}

body {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Comfortaa, sans-serif;
}

/* 3 fixed widths */
@media screen and (max-width: 1600px) {
  body { max-width: 1000px; }
}

@media screen and (max-width: 1300px) {
  body { max-width: 800px; }
}

@media screen and (max-width: 800px) {
  body { max-width: 90%; }
}

main {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1em;
  /* padding: 1em 0; */
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-items: flex-end; */
  margin-top: 1em;
  padding: 1em 1.5em !important;
  /* background-color: transparent; */
  color: #333;
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.25); */
  text-align: center;
}

header .logo {
  font-size: 2em;
  /* margin-left: 1em; */
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 1.5em;
  justify-content: center;
  align-items: center;
}

header a {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  /* padding: 0.5em; */
  border-radius: 8px;
}

#btn-fr {
  background: center no-repeat url("/assets/images/fr-flag.png") ;
}

#btn-en {
  background: center no-repeat url("/assets/images/uk-flag.png") ;
}

#btn-fr, #btn-en {
  background-size: 2em;
  height: 2em;
  width: 2em;
  border: none;
  cursor: pointer;
  /* margin-left: -1em; */
}

/* header a:hover { */
/*   background: #444; */
/*   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
/* } */


footer {
  margin-top: auto;
  /* padding: 1em; */
  /* border-radius: 8px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  text-align: center;
  background-color: #333;
  color: #333;
  bottom: 0;
  margin-bottom: 1em;
}

.card {
  /* margin-top: 0.5em; */
  background-color: #f2f2f2;
  border-radius: 8px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.25);
  padding: 1em;
}

.card2 {
  /* margin-top: 0.5em; */
  background-color: #f2f2f2;
  border-radius: 24px;
  box-shadow: 5px 5px #333;
  padding: 2em;
  border: 2px solid #333;
  transition: box-shadow 0.1s linear;
}

.card2 h2, .card2 h3 {
    color: #999;
}

.pad-it {
  min-height: 600px;
}

.pad-it > * {
  top: 50%;
}

h2 {
  text-align: center;
  color: #bbb;
  margin: 0;
}

#hero {
  /* in columns that turn into rows on mobile */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  background: center no-repeat url("/assets/images/hero-picture.png");
  min-height: 600px;
  overflow: hidden;
  color: #333;
  margin-bottom: -3em;
}

#hero-title {
  font-family: Impact, sans-serif;
  font-weight: 400;
  color: #FA804A;
  text-transform: uppercase;
  line-height: 120px;
  margin: 0;
  margin-left: 20px;
  font-size: 120px;
  text-align: center;
  z-index: 4;
}

#hero-bottom {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
  z-index: 3;
  margin-left: 20px;
}

#hero-text {
  flex: 2;
}

#hero-picture {
  /* display: block; */
  /* position: absolute; */
  /* overflow: hidden; */
  /* width: 200px; */
  height: 100px;
  top: 200px;
  /* flex: 5; */
  /* justify-content: center; */
  /* align-items: center; */
  z-index: 3;
  margin-left: auto;
}

#details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2%;
  flex-wrap: wrap;
}

.detail-card {
  flex: 1;
  min-height: 400px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.detail-card > h3 {
  text-align: left;
  margin-left: 20px;
  margin: 0;
}

.detail-card a {
  display: block;
  text-align: center;
  border: 1px solid #333;
  color: #eee;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  /* background: #f2f2f2; */
  background: #666;
  box-shadow: 3px 3px 0px #333;
  padding: 1em;
  border-radius: 8px;
  margin-top: auto;
  transition: 0.2s;
}

.detail-card a:hover {
  /* background: #666; */
  /* color: white; */
  transform: translate(-2px, -2px);
  box-shadow: 5px 5px 0px #333;
}

.detail-card a:active {
  transform: translate(2px, 2px);
  box-shadow: 1px 1px 0px #333;
  transition: transform 0.05s;
}

#about-me {
  background: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.col {
  flex: 1;
  min-width: 300px;
}

/*Floating Back-To-Top Button*/
#scrollToTop {
  font-weight: 800;
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #ccc;
  bottom: 5%;
  float: right;
  /* right 50px + 5% of width */
  right: 5%;
  /* left: auto; */
  z-index: 1;
  background-color: rgb(100,100,100);
  min-height: 50px;
  min-width: 50px;
  border: 2px solid #333;
  box-shadow: 2px 3px 0px #333;
  border-radius: 50%;
  transition: box-shadow 0.1s, right ease-in-out 0.3s;
}

#scrollToTop:hover {
  cursor: pointer;
  box-shadow: 4px 5px 0px #333;
}

#scrollToTop:active {
  box-shadow: 2px 3px 0px #333;
  transform: translate(2px, 2px);
}

/*On Hover Color Change*/
#myBtn:hover {
  background-color: #7dbbf1;
  cursor: pointer;
}

#first-audio {
  background: url("https://avatars.githubusercontent.com/u/61667511?s=200&v=4");
  background-size: 50px;
}

#first-audio .play-pause-btn {
  color: white;
  /* text-shadow: 0px 0px 10px #000; */
}

#second-audio {
  background: url("https://www.shutterstock.com/image-vector/motherboard-board-seamless-pattern-vector-600nw-788925259.jpg");
  background-size: 150px;
}

#second-audio .play-pause-btn {
  color: #333;
  text-shadow: 0px 0px 5px #fff !important;
}
